@{
    ViewData["Title"] = "Cadastro";
}

<div class="container">
    <h2>Formulário de Cadastro</h2>
    <form id="formCadastro" asp-controller="Cadastro" asp-action="Cadastrar" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" id="nome" class="form-control" name="Nome" required>
        </div>
        <div class="mb-3">
            <label for="embarque" class="form-label">Embarque:</label>
            <input type="time" id="embarque" class="form-control" name="Embarque" required>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição:</label>
            <textarea class="form-control" id="descricao" name="Descricao" rows="3" required></textarea>
        </div>
        <input type="hidden" id="encontrado" name="Encontrado" value="0"/>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

